In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('gpt3.5_output8.csv')
df1.dtypes

Unnamed: 0     int64
message_id    object
subject       object
content       object
result         int64
dtype: object

In [5]:
df1.drop('Unnamed: 0',axis=1,inplace=True)
df1

,message_id,subject,content,result
0,<6184043.1075857585289.JavaMail.evans@thyme>,more about you,a little bird told me about this read it when ...,4
1,<17858209.1075857584947.JavaMail.evans@thyme>,lng on the road,trucking lng to california the short answer is...,4
2,<14187877.1075857584924.JavaMail.evans@thyme>,amazoncom password assistance,greeting from amazoncom to finish resetting yo...,2
3,<31194989.1075857585233.JavaMail.evans@thyme>,deferral enrollment 2001,the annual deferral program enrollment process...,4
4,<32084772.1075857584968.JavaMail.evans@thyme>,lng question,rus a couple of question check the doe northea...,4
...,...,...,...,...
8657,<5783114.1075842092300.JavaMail.evans@thyme>,re puget sound,joe i think that tana is right i guess that if...,4
8658,<10827699.1075842088710.JavaMail.evans@thyme>,pancanadian energy service,russell since late we have been trying to put ...,4
8659,<679593.1075842088856.JavaMail.evans@thyme>,project margaux revised swap documentation,NaN,6
8660,<5961861.1075842092626.JavaMail.evans@thyme>,isda security rep,greg can you help me answer this question also...,1
8661,<17680542.1075842092012.JavaMail.evans@thyme>,opinion,adele your opinion look fine to me carol st cl...,2

In [9]:
df2=pd.read_csv('BARD_output.csv')
df2.drop('Unnamed: 0',axis=1,inplace=True)
df2.rename({'Message-ID':'message_id'},axis=1,inplace=True)
df2

,message_id,result,subject,content
0,<30445252.1075855073917.JavaMail.evans@thyme>,4,NaN,return receipt your document wa received kelle...
1,<12158479.1075847131465.JavaMail.evans@thyme>,1,re fw deutsche bank isda master agreement,tana hope you are well i wondered whether you ...
2,<13684295.1075845928316.JavaMail.evans@thyme>,1,re fw vepcocity of rocky mount,im travelling on monday so please ask my assis...
3,<2352172.1075842967105.JavaMail.evans@thyme>,3,NaN,if there other stuff you need or if youd like ...
4,<20540659.1075842820536.JavaMail.evans@thyme>,4,NaN,due to heavy rain and water damage on level b ...
...,...,...,...,...
222,<24133999.1075846959250.JavaMail.evans@thyme>,7,tudor confirm credit,rod
223,<2789466.1075861094689.JavaMail.evans@thyme>,4,morning meetingoba report,please find the attachment thanks tim
224,<13247337.1075841069052.JavaMail.evans@thyme>,1,re west region splitting in two,let rus know also so he can break this up for ...
225,<5528873.1075853202992.JavaMail.evans@thyme>,4,ngx litigation and outside counsel,NaN
226,<23594891.1075847022494.JavaMail.evans@thyme>,3,ena,whats enas tax id

In [11]:
df3=pd.read_csv('GPT3.5_output.csv')
df3.drop('Unnamed: 0',axis=1,inplace=True)
df3.rename({'Message-ID':'message_id'},axis=1,inplace=True)
df3

,message_id,result,subject,content
0,<31276235.1075846020705.JavaMail.evans@thyme>,6,world hunger section 96 additional test text o...,additional factory testing in the event that p...
1,<28545397.1075846014448.JavaMail.evans@thyme>,4,re dinner on wednesday may 2 2001 san antonio ...,i have a closing scheduled for wednesday so i ...
2,<5310776.1075841860794.JavaMail.evans@thyme>,4,re new counterparty name on 598391,never mind i just realized this is an east tra...
3,<10566838.1075846391124.JavaMail.evans@thyme>,6,letter to john pope,attached is a new draft of the letter to john ...
4,<32232039.1075847075437.JavaMail.evans@thyme>,1,re new ca revised list,one comment the platts agreement ha been compl...
...,...,...,...,...
1649,<5310776.1075841860794.JavaMail.evans@thyme>,4,re new counterparty name on 598391,never mind i just realized this is an east tra...
1650,<10566838.1075846391124.JavaMail.evans@thyme>,6,letter to john pope,attached is a new draft of the letter to john ...
1651,<32232039.1075847075437.JavaMail.evans@thyme>,4,re new ca revised list,one comment the platts agreement ha been compl...
1652,<31276235.1075846020705.JavaMail.evans@thyme>,6,world hunger section 96 additional test text o...,additional factory testing in the event that p...
1653,<28545397.1075846014448.JavaMail.evans@thyme>,4,re dinner on wednesday may 2 2001 san antonio ...,i have a closing scheduled for wednesday so i ...

In [12]:
df_final=pd.concat([df1,df2,df3])
df_final

,message_id,subject,content,result
0,<6184043.1075857585289.JavaMail.evans@thyme>,more about you,a little bird told me about this read it when ...,4
1,<17858209.1075857584947.JavaMail.evans@thyme>,lng on the road,trucking lng to california the short answer is...,4
2,<14187877.1075857584924.JavaMail.evans@thyme>,amazoncom password assistance,greeting from amazoncom to finish resetting yo...,2
3,<31194989.1075857585233.JavaMail.evans@thyme>,deferral enrollment 2001,the annual deferral program enrollment process...,4
4,<32084772.1075857584968.JavaMail.evans@thyme>,lng question,rus a couple of question check the doe northea...,4
...,...,...,...,...
1649,<5310776.1075841860794.JavaMail.evans@thyme>,re new counterparty name on 598391,never mind i just realized this is an east tra...,4
1650,<10566838.1075846391124.JavaMail.evans@thyme>,letter to john pope,attached is a new draft of the letter to john ...,6
1651,<32232039.1075847075437.JavaMail.evans@thyme>,re new ca revised list,one comment the platts agreement ha been compl...,4
1652,<31276235.1075846020705.JavaMail.evans@thyme>,world hunger section 96 additional test text o...,additional factory testing in the event that p...,6
1653,<28545397.1075846014448.JavaMail.evans@thyme>,re dinner on wednesday may 2 2001 san antonio ...,i have a closing scheduled for wednesday so i ...,4

In [13]:
df_final.to_csv('final_labelled_enron.csv',index=False)