In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('labelled_enron.csv')

print(df.columns)

Index(['column_a', 'message_id', 'date', 'from', 'to', 'subject', 'x_from',
       'x_to', 'x_cc', 'x_bcc', 'x_folder', 'x_origin', 'x_filename',
       'content', 'user', 'cat_1_level_1', 'cat_1_level_2', 'cat_1_weight',
       'cat_2_level_1', 'cat_2_level_2', 'cat_2_weight', 'cat_3_level_1',
       'cat_3_level_2', 'cat_3_weight', 'cat_4_level_1', 'cat_4_level_2',
       'cat_4_weight', 'cat_5_level_1', 'cat_5_level_2', 'cat_5_weight',
       'cat_6_level_1', 'cat_6_level_2', 'cat_6_weight', 'cat_7_level_1',
       'cat_7_level_2', 'cat_7_weight', 'cat_8_level_1', 'cat_8_level_2',
       'cat_8_weight', 'cat_9_level_1', 'cat_9_level_2', 'cat_9_weight',
       'cat_10_level_1', 'cat_10_level_2', 'cat_10_weight', 'cat_11_level_1',
       'cat_11_level_2', 'cat_11_weight', 'cat_12_level_1', 'cat_12_level_2',
       'cat_12_weight', 'labeled'],
      dtype='object')

0    I also need to know the base salaries of Jay R...
1    Thanks for the information. It would be helpfu...
2    -----Original Message----- From: Hawkins, Bern...
3    -----Original Message----- From: Perrino, Dave...
4    -----Original Message----- From: Comnes, Alan ...
Name: content, dtype: object

In [3]:
print(df.head())

   column_a                                     message_id  \
0       379   <9831685.1075855725804.JavaMail.evans@thyme>
1       381  <21041312.1075855725847.JavaMail.evans@thyme>
2      2139   <5907100.1075858639941.JavaMail.evans@thyme>
3      2140  <26625142.1075858639964.JavaMail.evans@thyme>
4      2232  <19730598.1075858642129.JavaMail.evans@thyme>

                  date                                    from  \
0  2001-03-15T14:45:00  frozenset({'phillip.allen@enron.com'})
1  2001-03-15T14:11:00  frozenset({'phillip.allen@enron.com'})
2  2001-06-20T17:04:51       frozenset({'k..allen@enron.com'})
3  2001-06-20T17:09:00       frozenset({'k..allen@enron.com'})
4  2001-08-09T12:30:58       frozenset({'k..allen@enron.com'})

                                                  to  \
0                frozenset({'todd.burke@enron.com'})
1                frozenset({'kim.bolton@enron.com'})
2  frozenset({'matt.smith@enron.com', 'matthew.le...
3  frozenset({'matt.smith@enron.com', 'matthew.le...
4  frozenset({'matt.smith@enron.com', 'm..tholt@e...

                                             subject  \
0      Re: Confidential Employee Information/Lenhart
1  RE: PERSONAL AND CONFIDENTIAL COMPENSATION INF...
2  FW: Western Wholesale Activities - Gas & Power...
3  FW: Western Wholesale Activities - Gas & Power...
4  FW: Western Wholesale Activities - Gas & Power...

                                              x_from  \
0                                    Phillip K Allen
1                                    Phillip K Allen
2  Allen, Phillip K. </O=ENRON/OU=NA/CN=RECIPIENT...
3  Allen, Phillip K. </O=ENRON/OU=NA/CN=RECIPIENT...
4  Allen, Phillip K. </O=ENRON/OU=NA/CN=RECIPIENT...

                                                x_to x_cc  x_bcc  ...  \
0                                         Todd Burke  NaN    NaN  ...
1                                         Kim Bolton  NaN    NaN  ...
2  Lenhart, Matthew </O=ENRON/OU=NA/CN=RECIPIENTS...  NaN    NaN  ...
3  Lenhart, Matthew </O=ENRON/OU=NA/CN=RECIPIENTS...  NaN    NaN  ...
4  Smith, Matt </O=ENRON/OU=NA/CN=RECIPIENTS/CN=M...  NaN    NaN  ...

  cat_10_level_1 cat_10_level_2 cat_10_weight cat_11_level_1 cat_11_level_2  \
0            NaN            NaN           NaN            NaN            NaN
1            NaN            NaN           NaN            NaN            NaN
2            NaN            NaN           NaN            NaN            NaN
3            NaN            NaN           NaN            NaN            NaN
4            NaN            NaN           NaN            NaN            NaN

   cat_11_weight  cat_12_level_1  cat_12_level_2  cat_12_weight  labeled
0            NaN             NaN             NaN            NaN     True
1            NaN             NaN             NaN            NaN     True
2            NaN             NaN             NaN            NaN     True
3            NaN             NaN             NaN            NaN     True
4            NaN             NaN             NaN            NaN     True

[5 rows x 52 columns]

In [4]:
new_df = df[['message_id', 'subject', 'content', 'cat_1_level_2']]

new_df.head()

,message_id,subject,content,cat_1_level_2
0,<9831685.1075855725804.JavaMail.evans@thyme>,Re: Confidential Employee Information/Lenhart,I also need to know the base salaries of Jay R...,1.0
1,<21041312.1075855725847.JavaMail.evans@thyme>,RE: PERSONAL AND CONFIDENTIAL COMPENSATION INF...,Thanks for the information. It would be helpfu...,3.0
2,<5907100.1075858639941.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Hawkins, Bern...",4.0
3,<26625142.1075858639964.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Perrino, Dave...",4.0
4,<19730598.1075858642129.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Comnes, Alan ...",4.0

In [5]:
## Compare Weight, save it for maybe later
'''import pandas as pd
import numpy as np

# Create a new column
new_df['highest_weight_cat'] = ''

# Define the weight columns
weight_columns = ['cat_{}_weight'.format(i) for i in range(1, 13)]

# Iterate through rows
for index, row in new_df.iterrows():
    # Get the values of the weight columns for the current row
    weights = row[weight_columns].values
    
    # Find the index of the maximum value using NumPy
    max_weight_index = np.argmax(weights)
    
    # Get the column name corresponding to the maximum value
    max_weight_col = weight_columns[max_weight_index]
    
    # Set the 'highest_weight_cat' column to the column name
    new_df.at[index, 'highest_weight_cat'] = max_weight_col

# Define the weight columns to drop
weight_columns_to_drop = ['cat_{}_weight'.format(i) for i in range(1, 13)]

# Drop the specified weight columns
new_df.drop(columns=weight_columns_to_drop, inplace=True)
'''

"import pandas as pd\nimport numpy as np\n\n# Create a new column\nnew_df['highest_weight_cat'] = ''\n\n# Define the weight columns\nweight_columns = ['cat_{}_weight'.format(i) for i in range(1, 13)]\n\n# Iterate through rows\nfor index, row in new_df.iterrows():\n    # Get the values of the weight columns for the current row\n    weights = row[weight_columns].values\n    \n    # Find the index of the maximum value using NumPy\n    max_weight_index = np.argmax(weights)\n    \n    # Get the column name corresponding to the maximum value\n    max_weight_col = weight_columns[max_weight_index]\n    \n    # Set the 'highest_weight_cat' column to the column name\n    new_df.at[index, 'highest_weight_cat'] = max_weight_col\n\n# Define the weight columns to drop\nweight_columns_to_drop = ['cat_{}_weight'.format(i) for i in range(1, 13)]\n\n# Drop the specified weight columns\nnew_df.drop(columns=weight_columns_to_drop, inplace=True)\n"

In [6]:
# Create a new 'label' column based on 'cat_1_level_2'
new_df['label'] = new_df['cat_1_level_2'].apply(lambda x: 1.0 + (x / 10.0))

# Map 'label' values to the desired labels
label_mapping = {
    1.1: 'Company Business, Strategy, etc.(elaborate in Section 3 [Topics])',
    1.2: 'Purely Personal',
    1.3: 'Personal but in professional context(e.g., it was good working with you)',
    1.4: 'Logistic Arrangements(meeting scheduling, technical support, etc)',
    1.5: 'Employment arrangements(job seeking, hiring, recommendations, etc) ',
    1.6: 'Document editing/checking(collaboration)',
    1.7: 'Empty message(due to missing attachment)',
    1.8: 'Empty message'
}

new_df['label'] = new_df['label'].map(label_mapping)

new_df.drop(columns=['cat_1_level_2'], inplace=True)

new_df.head()

/var/folders/sb/rscyryt53fs5t_zbvkxgpzjc0000gn/T/ipykernel_2426/2168557669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['label'] = new_df['cat_1_level_2'].apply(lambda x: 1.0 + (x / 10.0))
/var/folders/sb/rscyryt53fs5t_zbvkxgpzjc0000gn/T/ipykernel_2426/2168557669.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['label'] = new_df['label'].map(label_mapping)
/var/folders/sb/rscyryt53fs5t_zbvkxgpzjc0000gn/T/ipykernel_2426/2168557669.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=['cat_1_level_2'], inplace=True)

,message_id,subject,content,label
0,<9831685.1075855725804.JavaMail.evans@thyme>,Re: Confidential Employee Information/Lenhart,I also need to know the base salaries of Jay R...,"Company Business, Strategy, etc.(elaborate in ..."
1,<21041312.1075855725847.JavaMail.evans@thyme>,RE: PERSONAL AND CONFIDENTIAL COMPENSATION INF...,Thanks for the information. It would be helpfu...,"Personal but in professional context(e.g., it ..."
2,<5907100.1075858639941.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Hawkins, Bern...","Logistic Arrangements(meeting scheduling, tech..."
3,<26625142.1075858639964.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Perrino, Dave...","Logistic Arrangements(meeting scheduling, tech..."
4,<19730598.1075858642129.JavaMail.evans@thyme>,FW: Western Wholesale Activities - Gas & Power...,"-----Original Message----- From: Comnes, Alan ...","Logistic Arrangements(meeting scheduling, tech..."

In [7]:
new_df.rename(columns={'content': 'body', 'label': 'category'}, inplace=True)

# Save the DataFrame as a new CSV file
#new_df.to_csv('simplified_labeled_enron.csv', index=False)

/var/folders/sb/rscyryt53fs5t_zbvkxgpzjc0000gn/T/ipykernel_2426/696120635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'content': 'body', 'label': 'category'}, inplace=True)

In [8]:
# Split into train and test dataset
original_df = pd.read_csv('simplified_labeled_enron.csv')

# Shuffle the rows randomly
shuffled_df = original_df.sample(frac=1, random_state=42)  # Use a fixed random_state for reproducibility

# Split the DataFrame into two parts
first_part = shuffled_df.iloc[:1400]
second_part = shuffled_df.iloc[1400:]

# Save the two split DataFrames to separate CSV files
first_part.to_csv('simplified_labeled_enron_train.csv', index=False)
second_part.to_csv('simplified_labeled_enron_test.csv', index=False)